/*! global */
html {
	scroll-behavior: smooth;
}

body {
	background: #ffffff;
	font-family: "Inter", sans-serif;
	font-size: 18px;
}

body.no-skroll {
	overflow: hidden;
}

section {
	padding: 0 10px;
}

.container {
	max-width: 1180px;
	/** +15px */
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
}

.m-auto {
	margin: 0 auto;
}

.pos-r {
	position: relative;
}

.row {
	display: flex;
}

.col-6 {
	width: 50%;
}

.btn {
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	text-transform: uppercase;
	background: #0097E6;
	box-shadow: 0px 5px 8px rgba(3, 37, 55, 0.25);
	border-radius: 5px;
	transition: background .3s ease-out;

	&:hover {
		background: #4BC1FF;
	}

	@media (max-width: 424.98px) {
		font-size: 14px;
		padding: 17.5px 5px;
		text-align: center;
	}
}

/*! global */

/*! header */

.header {
	height: 104px;

	& .container {
		padding-top: 19px;
		padding-bottom: 24px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		@media (max-width: 767.98px) {
			flex-direction: column;
		}


	}

	&__menu-active {
		height: 100%;
	}

	&__menu {
		margin-left: 21px;

		@media (max-width: 767.98px) {
			align-items: center;
			margin: 0;
			padding-left: 10px;
			padding-right: 10px;
			display: flex;
			justify-content: space-between;
			width: 100%;
		}
	}

	&__nav {
		font-size: 16px;
		padding: 0 26px;

		@media (max-width: 767.98px) {
			transform: translate(0, calc(-100% - 104px));
			display: flex;
			flex-direction: column;
			width: 100vw;
			height: 25vh;
			transition: all .3s ease-in-out;
			background: #fff;
			box-shadow: 0 10px 30px #000;
			z-index: 99999;
		}

		&-link {
			&:not(:last-child) {
				margin-right: 70px;

				@media (max-width: 800px) {
					margin-right: 30px;
				}
			}

			@media (max-width: 767.98px) {
				font-size: 20px;
				height: 46px;
				display: flex;
				align-items: center;
			}
		}

		&.active {
			transform: translate(0);
		}
	}
}

.open {
	transform: rotate(-180deg);
	opacity: 1;
}

.close {
	transform: rotate(180deg);
	opacity: 1;
}

.toggle {
	display: none;
	position: relative;
	width: 40px;
	height: 40px;

	@media (max-width: 767.98px) {
		display: block;
	}
}

.menu__toggle {
	font-size: 40px;
	position: absolute;
	top: 0;
	right: 0;
	color: #000;
	opacity: 0;
	cursor: pointer;
	transition: all .3s ease-in-out;

	&.open {
		opacity: 1;
	}

	&.close {
		opacity: 1;
	}
}

/*! header */

/*! main/section */

.section__title {
	font-weight: 500;
	font-size: 36px;
	line-height: 44px;
	text-align: center;
	text-transform: uppercase;
	color: #F77D20;
	overflow-wrap: anywhere;
}

.section__text {
	padding-left: 21px;
	font-weight: 500;
	font-size: 22px;
	line-height: 145%;
	border-left: 2px solid #6CCAFB;
}

.about__title {
	margin: 0 0 50px;
}

.hero {
	color: #FFFFFF;
	background: url("@img/herobg.jpg") no-repeat center/cover;
	position: relative;
	z-index: 9999;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background: rgba(11, 12, 15, 0.6);
		backdrop-filter: blur(1px);
		z-index: -1;
	}

	& .container {
		padding: 164px 15px 172px 29px;
	}

	&__title {
		font-weight: 600;
		font-size: 36px;
		line-height: 44px;
		margin-bottom: 37px;
		max-width: 755px;
		position: relative;
		padding-bottom: 26px;

		&::before {
			content: "";
			position: absolute;
			max-width: 532.95px;
			width: 100%;
			bottom: 0;
			left: 0;
			height: 2px;
			background: #6CCAFB;
		}
	}

	&__text {
		font-weight: 500;
		font-size: 18px;
		line-height: 22px;
		opacity: 90%;

		&:not(:last-child) {
			margin-bottom: 20px;
		}

		& span {
			font-weight: 700;
			color: #F77D20;

			& .light {
				font-weight: 600;
			}
		}
	}

	&__texts {
		margin-bottom: 34px;
	}

	&__btn {
		padding: 17.5px 21.5px;

		@media (max-width: 424.98px) {
			padding: 17.5px 5px;
		}
	}
}

.about__row {
	margin-bottom: 50px;

	@media (max-width: 767.98px) {
		flex-direction: column;
	}
}

.about__row .col-6 {
	@media(max-width: 767.98px) {
		width: 100%;
	}
}

.about {
	margin-top: 70px;

	&__personal {
		padding-bottom: 50px;
		background: #F5F9FF;
	}

	&__service-text {
		@media (max-width: 767.98px) {
			padding: 0 10px;
		}
	}
}


.bireten__block {
	color: #fff;
	background: url("@img/bireten.jpg") no-repeat center/cover;
	padding: 175px 123px 152px 170px;

	@media (max-width: 1124.98px) {
		display: flex;
		align-items: center;
	}

	&-title {
		font-weight: 600;
		font-size: 32px;
		line-height: 39px;
		text-align: center;
		text-transform: capitalize;
	}

	&-text {
		font-weight: 500;
		font-size: 18px;
		line-height: 145%;
	}

	@media (max-width: 1299.98px) {
		padding: 50px
	}
}


.bireten__data {
	border-left: 2px solid #ffffff;
	padding-left: 20px;

}

.personal__block {
	padding: 52px 0 86px 45px;
	position: relative;

	@media (max-width: 1124.98px) {
		padding: 35px 20px;
	}
}

.personal__title {
	font-weight: 600;
	font-size: 24px;
	line-height: 145%;
	max-width: 470px;
	color: #171717;
	margin-bottom: 365px;

	@media (max-width: 1124.98px) {
		margin-bottom: 20px;
	}
}

.personal__cards {
	display: flex;
	gap: 30px;
	position: absolute;
	left: -47px;
	top: 50%;
	transform: translate(0, -55%);

	@media (max-width: 1124.98px) {
		position: static;
		transform: translate(0);
	}

	@media (max-width: 991.98px) {
		flex-wrap: wrap;
	}
}

.personal__card {
	text-align: center;
	color: #FFFFFF;
	font-weight: 600;
	font-size: 18px;
	line-height: 145%;

	padding: 66px 23px;
	max-width: 278px;
	width: 100%;
	height: 270px;
	background: linear-gradient(180deg, #96D2ED 0%, #61ACCD 100%);
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
	border-radius: 3px;

	&-text {
		margin-top: 20px;
	}

	@media (max-width: 991.98px) {
		max-width: 100%;
		padding: 44px 23px;
		height: auto;
	}
}

.personal__desc {
	line-height: 22px;
	max-width: 420px;

	@media (max-width: 1124.98px) {
		margin-top: 20px;
	}

	@media (max-width: 767.98px) {
		font-size: 16px;
	}
}

.about__service-text {
	max-width: 971px;
	margin: 0 auto;
	line-height: 145%;

	& span {
		color: #F77D20;
	}

}

.specialization {
	border-bottom: 1px solid #D1D1D1;

	&__block {
		margin-top: 55px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-gap: 25px;
		margin-bottom: 55px;

		@media (max-width: 991.98px) {
			grid-template-columns: 1fr 1fr;
			grid-template-rows: auto;
			max-width: 700px;
			margin: 25px auto 0;
		}

		@media (max-width: 767.98px) {
			display: block;
		}
	}

	&__card {
		max-width: 340px;
		display: flex;
		flex-direction: column;
		background: #65AECF;
		transition: background .3s ease-in-out;

		&:hover {
			background: darken(#65AECF, 10%);
		}

		& img {
			max-height: 182px;
			object-fit: cover;

			@media (max-width: 767.98px) {
				max-height: none;
				height: 500px;
				width: 100%;
			}
		}

		@media (max-width: 991.98px) {
			max-width: 100%;
		}
	}

	&__container {
		max-width: 1110px;
		padding: 57px 15px 70px;
		margin: 0 auto;
	}

	&__title {
		font-weight: 500;
		font-size: 32px;
		line-height: 39px;
		color: #171717;
		max-width: 697px;
		margin: 0 auto;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			left: -90px;
			top: 50%;
			transform: translate(0, -50%);
			width: 80px;
			height: 2px;
			background: #65AECF;

			@media (max-width: 991.98px) {
				content: none;
			}
		}
	}

	&__name {
		text-align: center;
		padding: 10px 0;
		line-height: 22px;
		color: #FFFFFF;

	}

	&__text {
		line-height: 22px;

		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	&__btn {
		display: block;
		margin: 50px auto 0;
		max-width: 355px;
		color: #fff;
		padding: 17.5px 25.5px;

	}
}

.services {
	&__cards {
		max-width: 1192px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 5px;

		@media (max-width: 1124.98px) {
			justify-content: center;
			max-width: 80%;
			width: 100%;
			gap: 15px;
		}

		@media (max-width: 767.98px) {
			max-width: 96%;
		}

	}

	&__container {
		padding-top: 60px;
		position: relative;

		@media (max-width: 1124.98px) {
			padding-bottom: 89px;
		}
	}

	&__title {
		margin: 0 0 70px;
	}

	&__card {
		max-width: 574px;
		background: linear-gradient(180deg, #82CDEE 0%, #5C9DB9 100%);
		color: #fff;
		border-radius: 5px;
		padding: 24px 43px 79px 47px;
		transition: all .3s ease-in-out;

		&:hover {
			background: linear-gradient(180deg, #81c6e4 0%, #5188a0 100%);

		}

		& ul {
			padding-left: 30px;
		}

		@media (max-width: 1124.98px) {
			max-width: 100%;
			width: 100%;
		}

		@media (max-width: 424.98px) {
			padding: 20px;
		}
	}

	&__card-title {
		font-weight: 500;
		font-size: 32px;
		line-height: 39px;
		color: #FFFFFF;
		margin-bottom: 30px;
		overflow-wrap: anywhere;

		& img {
			vertical-align: bottom;
		}

		@media (max-width: 767.98px) {
			font-size: 28px;
		}
	}

	&__card-icon {
		& work {
			margin-right: 30px;
		}
	}

	&__text {
		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}

	&__text-block {
		max-width: 470px;
		padding-left: 20px;
		border-left: 2px solid #fff;
		list-style: disc;

		& li {
			& span {
				font-weight: 500;
			}
		}

		& li:not(:last-child) {
			margin-bottom: 25px;
		}

		& li:last-child {
			list-style-type: none;
			border-left: 2px solid #fff;
			margin-left: -20px;
			padding-left: 20px;
		}

		& li::marker {
			font-size: 25px;
		}
	}

	&__list-block {
		border: none;
	}
}

.services__treaty {
	max-width: 926px;
	padding: 41px 52px 43px 51px;
	position: absolute;
	left: 50%;
	bottom: -273px;
	transform: translate(-50%, 0);
	background: #fff;
	box-shadow: 0px 0px 17px 4px rgba(0, 0, 0, 0.1);
	border-radius: 5px;

	@media (max-width: 1604.98px) {
		padding: 20.5px 26px 21.5px 25.5px;

	}

	@media (max-width: 1193.98px) {
		bottom: -355px;
	}

	@media (max-width: 1124.98px) {
		position: static;
		width: 100%;
		transform: translate(0);
		margin: 30px auto 0;
		border-radius: 0;
	}
}

.treaty__text:not(:last-child) {
	margin-bottom: 30px;
}

.treaty__title {
	text-align: start;
	font-size: 28px;
	line-height: 145%;
}

.unsere__text {
	max-width: 865px;
	margin: 490px auto 47px auto;

	@media (max-width: 1124.98px) {
		margin-top: 0;
	}
}

.steps {
	background: url("@img/steps.jpg") no-repeat center/cover;
	position: relative;
	z-index: 1;
	overflow: hidden;

	%__text {
		font-size: 20px;
		line-height: 145%;

		@media (max-width: 767.98px) {
			font-size: 18px;
		}
	}

	&::before {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		z-index: -1;
		background: rgba(6, 17, 23, 0.6);
	}

	&__container {
		max-width: 1204px;
		padding: 21px 10px;
		margin: 0 auto;
	}

	&__num-block {
		display: flex;

		@media (max-width: 1279.98px) {
			flex-direction: column;
			align-items: center;
		}
	}

	&__num {
		font-family: "Montserrat", sans-serif;
		font-weight: 700;
		font-size: 128px;
		line-height: 155.69%;
		color: rgba(255, 255, 255, 0.2);
		min-width: 486px;
		max-width: 510px;

		@media (max-width: 1279.98px) {
			margin: 0 !important;
		}

		@media (max-width: 767.98px) {
			min-width: unset;
		}


		&-one {
			background: url("@img/one.svg") no-repeat left top;

			@media (max-width: 1279.98px) {
				order: -2;
			}

			& .steps__text {
				margin: 35px 0 0 50px;
			}
		}

		&-two {
			height: 108px;
			margin-top: 200px;
			margin-left: -229px;
			background: url("@img/three.svg") no-repeat left top;

			@media (max-width: 1279.98px) {
				background-position: right top;
				order: -1;
			}

			& .steps__text {
				max-width: 296px;
				margin: 35px 0 0 50px;
			}

		}

		&-three {
			margin-left: -250px;
			margin-top: 7px;
			background: url("@img/two.svg") no-repeat left top;

			& .steps__text {
				max-width: 486px;
				width: 100%;
				margin: 35px 0 0 50px;
			}
		}

		&-fourth {
			margin-top: 200px;
			background: url("@img/fourth.svg") no-repeat left top;
			margin-left: -170px;

			@media (max-width: 1279.98px) {
				background-position: right top;
			}

			& .steps__text {
				margin: 35px 0 0 50px;
			}
		}
	}

	&__text {
		font-weight: 500;
		font-size: 20px;
		line-height: 145%;
		color: #FFFFFF;
	}

}


.section__steps-text {
	max-width: 865px;
	width: 100%;
	margin: 51px auto 74px;
}

.benefits {
	&__title {
		text-align: center;
	}

	&__text {
		text-align: center;
		max-width: 744px;
		margin: 13px auto 0;
		font-weight: 500;
	}

	&__body {
		margin-top: 55px;
		background: #F5F9FF;
		padding: 65px 173px 77px 173px;

		&-title {
			text-align: start;
			text-transform: capitalize;
		}

		@media (max-width: 767.98px) {
			padding: 33px 0 45px 25px;
		}
	}

	&__body-title {
		text-align: start;
		margin-bottom: 43px;
	}

	&__container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 35px;
		grid-row-gap: 80px;

		@media (max-width: 767.98px) {
			grid-template-columns: 1fr;
			row-gap: 35px;
		}
	}

	&__content {
		display: flex;
		align-items: flex-start;
		line-height: 22px;

		& span {
			padding-right: 20px;
		}
	}
}

.recruitment {
	padding: 58px 10px 99px;

	&__body {
		max-width: 1160px;
		padding: 49px 48px 69px 51px;
		margin: 0 auto;
		background: #FBFCFF;
		box-shadow: -8px 12px 32px -2px rgba(75, 45, 102, 0.08);
		border-radius: 10px;
		margin-bottom: 100px;
	}

	&__list {
		margin-bottom: 20px;
		list-style: disc;

		&-item {
			&::marker {
				color: #0097E6;
				font-size: 25px;
			}
		}
	}

	&__title {
		margin-bottom: 23px;
		text-transform: capitalize;
		text-align: start;
	}

	&__text {
		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}

	&__contact {
		font-weight: 500;
		font-size: 24px;
		line-height: 29px;
		text-align: center;
	}
}

.kontakt {

	background: #F5F9FF;

	&__body {
		padding: 70px 0 64px 212px;

		@media (max-width: 767.98px) {
			padding: 39px 81px 29px 44px;
		}
	}

	&__title {
		text-align: start;
		text-transform: capitalize;
		font-size: 32px;
		line-height: 39px;
		margin-bottom: 16px;
	}

	&__list-item {
		font-weight: 500;

		& img {
			vertical-align: middle;
		}

		&:not(:last-child) {
			margin-bottom: 25px;
		}

		@media (max-width: 767.98px) {
			font-size: 14px;
			line-height: 145%;
		}

		& a {
			display: flex;
			align-items: flex-start;
			gap: 15px;
		}
	}
}


/*! main/section */

/*! footer */


/*! footer */